# Bỏ qua file chứa dữ liệu JSON Server
db.json

# Node modules (nếu có cài thư viện)
node_modules/

# VS Code settings cá nhân
.vscode/

# Tạm thời hoặc file hệ thống
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
